.color2 {
  padding: 2rem;
  border-radius: 5px;
  color: black;
  background-color: rgba(255, 215, 0, .5);
  min-height: 200px;
  transition: .5s;
}

.color1 {
  padding: 2rem;
  border-radius: 5px;
  color: black;
  background-color: rgba(40, 255, 40, 0.6);
  min-height: 200px;
  transition: .5s;
}

.text2 { 
  text-decoration: line-through;
}

.statusText {
  margin-bottom: 0!important;
}